@import "./utils/variables";
@import "./utils/mixins";

footer{
    
    background-color: rgb(53, 53, 53);
    padding: 20px;
    font-family: $font-text;
    font-weight: 200;
    color: white;
    @include desktop-only{
        width: 100%;
    }
    
   h2{
        font-family: $font-title;
        font-weight: 400;
   }
    ul{
       
        list-style-type: none;
        margin-left: -40px;
       
       li{
            margin-bottom: 10px;
            display: flex;
            gap: 15px;
           
           i[class="fa-solid fa-handshake-angle"]{
                font-size: small;
                margin-right: -2px;
            }
            .foot-btn{
                text-decoration: none;
                color: white;
            }
        }
    }
}