@import "./utils/variables";
@import "./utils/mixins";


body{
    margin: 0 auto;
    animation: show;
    animation-duration: 5000ms;
    font-family: $font-text;
    width: 100%;
    @include desktop-only{
        margin:0 auto;
        
    }
}
header{
    @include desktop-only{
        margin: 0 auto;
        width: 80%;
    }    
    .loading{
        position: fixed;
        z-index: 999;
        border: 16px solid $color-loading-primary;
        border-top: 16px solid $color-secondary;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: auto ;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        animation-name: loading-spin;
        animation-duration: 3000ms;
        animation-fill-mode: forwards;
    }
    .back-box{
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 999;
        visibility: hidden;
        animation-name: back-box;
        animation-duration: 3000ms;
        
    }
    #logo{
        @include desktop-only{
            padding-left: 0%;
            display: flex;
            padding-bottom: 10px;
        }
        img{
            @include logo-size;
            @include logo-position;
            @include desktop-only{
                position: relative;
                right: 25%;
            }
        }
    }
    label{
         display: none;
    }
    #search{
        ::placeholder{
            color: $color-font ;
            font-size: medium;
            font-weight: bolder;
        }
        @include desktop-only{
            width: 20%;
            height: 20%;
            position: absolute;
            left: 70%;
            bottom: 76%;
        }
    }
    input{
        width:90%;
        margin-right: -75%;
        border: none;
        background-color: $search-color;
        text-align: center;
        padding: 5%;
        box-shadow: inset 0px 2px 6px $background-color-primary;
        @include desktop-only{
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
    
    #loc-icon{
         color: $color-font ;
         @include desktop-only{
            position: absolute;
            right: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: linear-gradient(to bottom right,$color-secondary,$color-primary);
            padding: 5%;
        }
    }
    #explorer{
            background-color: $background-color-primary;
            flex-wrap: wrap;
            margin-top: -15px;
            padding: $padding-explorer;
            text-align: center;
            @include desktop-only{
                width: 99%;
                margin-top: 20px;
                border-radius: 20px;
                font-size: 15px;
            }
            &::before{
                @include desktop-only{
                    position: relative;
                    display: block;
                    content: '';
                    border-bottom: 2px solid black ;
                    width: 134%;
                    right: 23.2%;
                    bottom: 30px;
                }
            }
        .btn{
            @include explorer-btn;
            @include desktop-only{
                font-size: 25px;
            }
            &:hover{
                @include btn-hover;
            }
        }
    
    }
    .btn{
            @include header-btn;
            @include desktop-only{
                font-size: 20px;
            }

        span{
            
            position: absolute;
            color: white;
            padding-top: 3px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 3px;
            left: -10px;
            top: 20px;
            width: 15px;
            height: 20px;
            border-radius: 15px;
            background-color: $color-primary;
        }
        i{
                padding-right: 20px;
        }
    }
    #filter{
        @include desktop-only{
            background-color: $background-color-primary;
            width: 102%;
            border-radius: 20px;
            margin-top: 20px;
            padding-left: 20px;
            padding-top: 10px;
        }
        h2{
            margin-left: 15px;
            
        }
    }
    ul{
        list-style-type: none;
        margin-left:-30px ;
        
    }

}
main{
    
    font-family: $font-text;
    background-color: $search-color ;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    
    @include desktop-only{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        padding-right: 2%;
        background-color:$background-color-primary ;
        border-radius: 20px;        
    }
    #first-second-list{
        @include desktop-only{
            display: flex;
            gap: 5%;
        }
    }
    #first-list{
        @include desktop-only{
        width: 50%;
        }
    }
    #second-list{
        @include desktop-only{
            width: 50%;
        }
    }
    .card{
        
        @include card;
        position: relative;
        
        a{
        
            @include style-a;
        
        }
        .btn-like{
                @include btn-like-before;
                @include desktop-only{
                    left: 85%;
                }
            &::before{
                content: "\f004";
                font-family: "Font Awesome 6 free";
                font-weight: 400;
                font-size: larger;
                transition: ease-in 500ms;
                color: gray;
            }
            &:focus{
                &::before{
                    @include btn-like-after;
                    
                }

            }
            @include desktop-only{
                &:hover{
                    &::before{
                        @include btn-like-after;
                        
                    }
                }
            }
            
        }
    }
    
    .card_image{
        @include card-image;
        img{
            @include card-img;
        }

    }
    .card-body{

        .card-title{
            
            height: 10px;
            text-align:start;
            padding-left: 10px;
        }
        .card-description{
            display: flex;
            position: relative;
            padding-left:10px; 
            padding-bottom: 10px; 
        }
        .new{
            position: absolute;
            text-align: center;
            top: 5%;
            right:10%;
            background-color: $color-tertiary;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    
}
footer{
    @include footer;
    
   h2{
        @include footer-h2;
        @include desktop-only{
            text-align: center;
        }
   }
    ul{
       @include footer-ul;
      
       li{
            @include footer-li;
            
           i[class="fa-solid fa-handshake-angle"]{
                @include footer-li-i;
            }
            .foot-btn{
                @include footer-btn;
            }
        }
    }
}