@keyframes liste {
  0% {
    visibility: hidden;
  }
  1% {
    transform-origin: top;
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    visibility: visible;
  }
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes back-box {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
body {
  margin: 0px;
  background-color: rgb(228, 228, 228);
}

header {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
header #head-return {
  display: flex;
  align-items: baseline;
}
header .return-btn {
  border: none;
  font-size: larger;
  color: rgb(48, 48, 48);
  background: none;
  position: relative;
  bottom: 23px;
  left: 20px;
}
header #logo {
  width: 50%;
  height: 5%;
  display: flex;
  justify-content: center;
  padding-left: 25%;
  margin-top: 25px;
  margin-bottom: 10px;
}
header img {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  bottom: 50px;
  background-color: rgb(228, 228, 228);
  font-family: "Roboto";
  box-sizing: content-box;
}
main #main-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 15px;
}
main #main-title #heart::before {
  content: "\f004";
  font-family: "Font Awesome 6 free";
  font-weight: 400;
  font-size: 40px;
  color: gray;
}
main .btn {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(141, 141, 141);
  width: 95%;
  height: 70px;
  margin: 10px;
  margin-top: 15px;
}
main .btn-title {
  height: 25px;
}
main .btn-description {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}
main .btn-description > p {
  text-overflow: ellipsis;
  width: 270px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}
main .btn-description .btn-price {
  display: flex;
  position: relative;
}
main .btn-description .btn-price .price {
  position: relative;
  transition: all 1000ms;
}
main .btn-description .btn-price .box {
  position: relative;
  left: 6px;
  bottom: 26px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 0px;
  height: 70px;
  background: aquamarine;
  transform: scaleX(0);
  transform-origin: 100%;
  transition: all 1000ms;
}
main .btn-description .btn-price .box span {
  position: relative;
  display: block;
  color: white;
  top: 16px;
  font-size: 0px;
}
main .btn:focus .box {
  width: 80px;
  transform: scaleX(1);
}
main .btn:focus .box span {
  font-size: 35px;
  animation-name: spin;
  animation-duration: 1000ms;
}
main h2 {
  border-bottom: 4px #99E2D0 solid;
  width: 40px;
  margin-top: 6px;
}
main #entre {
  padding-left: 20px;
  animation-name: liste;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: 0ms;
}
main #plat {
  padding-left: 20px;
  animation-name: liste;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: 1000ms;
}
main #dessert {
  padding-left: 20px;
  animation-name: liste;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: 2000ms;
}
main #order {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 20px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: medium;
  height: auto;
  width: 250px;
  opacity: 1;
  transition: opacity 100ms;
  transition: all 200ms;
  box-shadow: 0px 0px 10px rgb(156, 156, 156);
  width: 200px;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
}
main #order:active {
  opacity: 0.9;
  box-shadow: 0px 0px 15px rgb(105, 105, 105);
}

/*# sourceMappingURL=palette_gout_style.css.map */
