@mixin desktop-only {
    @media screen and (min-width : map-get($breakpoints, mobile)) {
        @content;
    }
}
@mixin logo-size {
    width: $logo-size-width;
    height: $logo-size-height;
}

@mixin logo-position {
    display: flex;
    justify-content: center;
    padding-left: 25% ;
    margin-top: 25px;
    margin-bottom: 10px;
    
}


@mixin explorer-btn {
    background: linear-gradient(to bottom right,$color-secondary,$color-primary);
    padding: 20px;
    border-radius: 30px ;
    border:none;
    color: white;
    font-size: medium;
    height: auto;
    width: 250px;
    opacity: 1;
    transition: opacity 100ms;
    transition: all 200ms;
    box-shadow: 0px 0px 10px rgb(156, 156, 156);
}
@mixin btn-hover {
    opacity: 0.90;
    box-shadow: 0px 0px 15px rgb(105, 105, 105);
}
@mixin header-btn {
    position: relative;
    padding: 15px;
    padding-right: 60px;
    padding-left: 15px;
    border-radius: 20px;
    margin: 10px;
    border: none;
    width: 95%;
    height: 60px;
}

@mixin card {
    width: 100%;
    height: 300px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    
    
    
}
@mixin style-a {
    color: black;
    text-decoration: none;
}
@mixin card-image {
    position: relative;
    height: 170px;
    overflow: hidden;
    
    
    
}
@mixin card-img {
    position: absolute ;
    width: 100%;
}
@mixin btn-like-before {
        
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 80%;
    font-size: 30px;
    border: none;
    background-color: white;
    

}
@mixin btn-like-after {
    font-weight: 900;
    color: $color-secondary;
    
}
@mixin animation-btn {
    padding-left: 20px;
    animation-name: liste;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@mixin footer{
    background-color: rgb(53, 53, 53);
    padding: 20px;
    font-family: $font-text;
    font-weight: 200;
    color: white;
}
@mixin footer-h2 {
    font-family: $font-title;
    font-weight: 400;
}
@mixin footer-ul {
    list-style-type: none;
    padding: 0;
    @include desktop-only{
      text-align: center;
    }
}
@mixin footer-li {
    margin-bottom: 10px;
    display: flex;
    @include desktop-only{
        display: inline-block;
        margin-left: 20px;
    }
}
@mixin footer-li-i {
    font-size: small;
    margin-right: -2px;
}
@mixin footer-btn {
    text-decoration: none;
    color: white;
}
@keyframes liste {
    0% {
        visibility: hidden;
        
    }
    1%{
        transform-origin: top;
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
        visibility: visible;
    }
}
@keyframes loading-spin {
    0% { 
        transform: rotate(0deg);
        visibility: visible;
        
    }
    90% { 
        transform: rotate(360deg); 
        
    }
    100%{
        visibility: hidden;
    }
  }
  @keyframes spin {
      0%{
        visibility: hidden;
        
      }
      10%{
          visibility: visible;
          
      }
      20%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }
  @keyframes back-box {
      from{
          visibility: visible;
      }
      to{
          visibility: hidden;
      }
  }