$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$font-title: "Shrikhand";
$color-font: black;
$font-text: "Roboto";
$breakpoint: ( mobile : 768px);
$logo-size-width: 50%;
$logo-size-height: 5%;
$search-color:rgba(128, 128, 128, 0.589);
$padding-explorer: 10px 30px 50px 30px;