$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$font-title: "Shrikhand";
$color-font: black;
$font-text: "Roboto";
$breakpoints: ( mobile : 768px);
$logo-size-width: 50%;
$logo-size-height: 5%;
$logo-foot-width: 20px ;
$logo-foot-height: 30px ;
$search-color:rgba(223, 222, 222, 0.911);
$padding-explorer: 10px 30px 50px 30px;